{% extends "master.html.twig" %}

{% block title %}Dragon
{% endblock %}

{% block content %}


<div class="row">
    <div class="col s12">
        <img class="responsive-img" src="/images/DR_1.jpg" alt="dragon" style="width: 100%;">
    </div>
</div>
<div class="row">
    <div class="col s12">
        <h2 class="center-align white-text flow-text " style="margin: 5rem 0; font-size: 5vw;">Did you ever want to see
            inside the ship?</h2>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <img class="responsive-img" src="/images/dragoninterior.jpg" alt="dragon" style="width: 100%;">
    </div>
</div>
<div class="row">
    <div class="col s12 ">
        <div class="video-container">
            <iframe width="100%" height="700" src="https://www.youtube.com/embed/j2C9DYYVEBk" frameborder="0"
                allowfullscreen></iframe>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12" style="padding-top: 5vw;">
        <h2 class="center-align white-text flow-text " style=" font-size: 5vw;">Now you can pilot it yourself.
            <div>
                <a class="center-align " href="/booking">Book the training.</a>
            </div>
        </h2>
    </div>
</div>
<div class="row">
    <div class="col s12 ">
        <div class="video-container">
            <iframe width="100%" src="/images/DragonTrunk_Animation.webm" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 " style="padding-top:5vw;">
        <p class="center-align white-text flow-text " style="font-size: 5vw;"> To start planning your journey, please <a
                href="/contact"> contact us
            </a>.

        </p>
    </div>
</div>
<div class="row">
    <div class="col s12 ">
        <img class="responsive-img" src="/images/DR_2.jpg" alt="starship" style="width: 100%;">
    </div>
</div>
{% endblock %}