{% extends "master.html.twig" %}

{% block title %}Access denied{% endblock %}

{% block content %}

<div class="container white-text center-align" style="margin-top: 8rem;">
    <h5 class="white-text">Access denied</h5>
    <h6>You must be logged in to access this page.</h6>
    <div>
        <p><a class="teal-text" href="/login">Click here </a> to continue.</p>
    </div>
</div>

{% endblock %}