{% extends "master.html.twig" %}

{% block title %}Logout successful{% endblock %}

{% block head %}
<script>
    // Example of redirection with visual countdown
    var secsLeft = 5;
    setInterval(function () {
        document.getElementById("countdown").innerHTML = secsLeft + "";
        secsLeft--;
        if (secsLeft < 0) {
            window.location.href = "/"; // destination
        }
    }, 1000);
</script>
{% endblock head %}

{% block content %}

<div class="container white-text center-align" style="margin-top: 8rem;">
    <h5>Logout successful</h5>
    <h6>You will be automatically redirected to the homepage in <span id="countdown">5</span> seconds.</h6>
    <div>
        <p><a class="teal-text" href="/">Click here </a> to continue.</p>
    </div>
</div>

{% endblock %}