{% extends "admin/master.html.twig" %}

{% block title %}Record not found{% endblock %}

{% block content %}
<h3>Record not found</h3>
<p><a href="/admin">Click here to continue</a></p>
{% endblock %}