{% extends "admin/master.html.twig" %}

{% block title %}Operation Successful{% endblock %}

{% block content %}
<div class="container" style="background-color: white; padding: 2rem; margin-top: 3rem !important;">
    <p>Operation succesful -
        {% if type == 'admin' %}admin{% elseif type == 'user' %}user{% elseif type == 'customer' %}customer{% elseif type == 'spaceship' %}spaceship{% elseif type == 'training' %}training{% endif %}
        {% if op == 'add' %}added{% else %}updated{% endif %}</p>
    <p><a href="/admin">Click here to go back to admin interface</a></p>
</div>
{% endblock %}